@model Practice.Models.Student
@{
    ViewBag.Title = "CreateSubmit4";
}

<h2>Added Student class object mapping </h2>
<table class="table table-condensed">
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Dob</th>
    </tr>
    <tr>
        <td>
            @Model.Name

        </td>
        <td>
            @Model.Id

        </td>
        <td>
            @Model.Dob
        </td>
    </tr>


</table>

