
@{
    ViewBag.Title = "Create";
}

<h2>Create Students</h2>

<form action="/Student/CreateSubmit4" method="post">
    Name:<input type="text" name="Name" class="form-control" /><br />
    Id:<input type="text" name="Id" class="form-control" /> <br />
    Dob:<input type="text" name="Dob" class="form-control" /> <br />
    <input type="submit" value="Add Student" class="btn btn-primary">

</form>

