
@{
    ViewBag.Title = "Create";
}

<h2>Create Students</h2>

<form action="/Student/CreateSubmit3" method="post">
    Name:<input type="text" name="name" class="form-control" /><br />
    Id:<input type="text" name="id" class="form-control" /> <br />
    Dob:<input type="text" name="dob" class="form-control" /> <br />
    <input type="submit" value="Add Student" class="btn btn-primary">

</form>

